[Desktop Entry]
Type=Application
Exec=aw-qt
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=ActivityWatch
Name=ActivityWatch
Comment[en_US]=
Comment=
