[Unit]
Description=Espanso: cross platform text expander in Rust
Documentation=https://espanso.org
After=graphical-session.target

[Service]
ExecStart=/usr/local/bin/espanso launcher
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
