tools.samho.xyz {
  root * {$SQUARE_PATH}/data/share/llm-tool/repo
  encode zstd gzip

  try_files {path} {path}.html
  file_server {
    hide .git
  }
  handle_errors {
    rewrite * /{err.status_code}.html
    file_server
  }
}
