[submodule "dots/.config/nvim/lua/namjul/dendron/lua-yaml"]
	path = dots/.config/nvim/lua/namjul/dendron/lua-yaml
	url = https://github.com/exosite/lua-yaml
[submodule "dots/.config/nvim/pack/bundle/opt/shellbot/lua"]
	path = dots/.config/nvim/pack/bundle/opt/shellbot/lua
	url = git@github.com:wincent/shellbot.git
	branch = wincent
