[Unit]
Description=Gammastep display colour temperature adjustment
Documentation=https://gitlab.com/chinstrap/gammastep
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=%h/.local/bin/gammastep-session
Restart=always
RestartSec=10

[Install]
WantedBy=graphical-session.target
