[Unit]
Description=Redshift display colour temperature adjustment
Documentation=http://jonls.dk/redshift/
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=%h/.local/bin/redshift-session
Restart=always
RestartSec=10

[Install]
WantedBy=graphical-session.target
