[Unit]
Description=Volume and brightness OSD server
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=swayosd-server
Restart=on-failure

[Install]
WantedBy=graphical-session.target
