thepopupschool.org {

  root * {$SQUARE_PATH}/data/share/website/thepopupschool/public
  encode zstd gzip

  #@trailingSlash {
  #  path_regexp trailingSlash ^(.*)/$
  #}
  #redir @trailingSlash {http.regexp.trailingSlash.1} permanent

  try_files {path} {path}.html
  file_server {
    hide .git
  }
  handle_errors {
    rewrite * /{err.status_code}.html
    file_server
  }
}

stats.thepopupschool.org, stats.samuel.hobl.at {
  reverse_proxy localhost:5007
}

