
[Unit]
Description=Caddy (homelab)
Documentation=https://caddyserver.com/docs/
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=notify
Environment=SQUARE_PATH={{ vars.SQUARE_PATH }}
Environment=XDG_CONFIG_HOME={{ vars.SQUARE_PATH }}/aspects/caddy
Environment=XDG_DATA_HOME={{ vars.SQUARE_PATH }}/data/share
WorkingDirectory={{ vars.SQUARE_PATH }}/aspects/caddy
ExecStart=/bin/bash -c 'cd "$SQUARE_PATH/aspects/caddy" && exec mise exec -- caddy run --environ --config ./Caddyfile'
ExecReload=/bin/bash -c 'cd "$SQUARE_PATH/aspects/caddy" && exec mise exec -- caddy reload --force --config ./Caddyfile'
TimeoutStopSec=5s
LimitNOFILE=1048576
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
