[alias]
s = status

[ui]
{{- if index .variables "vcsUserName" }}
username = {{ index .variables "vcsUserName" }}{{- if index .variables "vcsUserEmail" }} <{{ index .variables "vcsUserEmail" }}>{{- end }}
{{- end }}
tweakdefaults = True

[extensions]
strip =
rebase =
shelve =
histedit =
# uncomment the lines below to enable some popular extensions
# (see 'hg help extensions' for more info)
#
#uncommit =
#amend =
#churn =
#convert =
#extdiff =
#schemes =
