@define-color bg #f2e5bc;
@define-color panel #ebdbb2;
@define-color selected #d5c4a1;
@define-color border #bdae93;
@define-color text #3c3836;

window {
  margin: 0px;
  border: 2px solid @border;
  background-color: @bg;
}

#input {
  margin: 5px;
  border: none;
  color: @text;
  background-color: @panel;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: @bg;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: @bg;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry:selected {
  background-color: @selected;
}

#entry:selected #text {
  color: @text;
}
