
samuel.hobl.at {
  root * /var/www/website/public
  encode zstd gzip
  try_files {path} {path}.html
  file_server {
    hide .git
  }
  handle_errors {
    rewrite * /{err.status_code}.html
    file_server
  }
}

www.hobl.at, hobl.at {
    redir https://samuel.hobl.at
}
