[Desktop Entry]
Version=1.0
Name=Easybank
Comment=Launch Easybank in Chromium
Exec=chromium --app=https://ebanking.easybank.at/
Terminal=false
Type=Application
Categories=Network;Finance;
StartupWMClass=easybank
