[Desktop Entry]
Version=1.0
Name=Basecamp
Comment=Launch Basecamp in Chromium
Exec=launch-webapp https://launchpad.37signals.com/
Terminal=false
Type=Application
Categories=Network;Finance;
StartupWMClass=productivity
