[Desktop Entry]
Version=1.0
Name=Devdocs
Comment=Launch Devdocs in Chromium
Exec=chromium --app=https://devdocs.io/
Terminal=false
Type=Application
Categories=Network;Email;
StartupWMClass=devdocs
