[Desktop Entry]
Version=1.0
Name=Figma
Comment=Launch Figma in Chromium
Exec=launch-webapp https://figma.com/
Terminal=false
Type=Application
Categories=Network;Graphics;
StartupWMClass=figma
