[Desktop Entry]
Version=1.0
Name=Mattermost
Comment=Launch Mattermost in Chromium
Exec=launch-webapp https://mattermost.tools.wienfluss.net/
Terminal=false
Type=Application
Categories=Network;Productivity;
StartupWMClass=mattermost
