[Desktop Entry]
Version=1.0
Name=Mermaid
Comment=Launch Mermaid in Chromium
Exec=launch-webapp https://mermaid.ai/app/dashboard
Terminal=false
Type=Application
Categories=Network;Productivity;
StartupWMClass=Mermaid
