[Desktop Entry]
Version=1.0
Name=YouTube
Comment=Launch YouTube in Chromium
Exec=chromium --app=https://youtube.com/
Terminal=false
Type=Application
Categories=Network;Video;
StartupWMClass=youtube
