[Desktop Entry]
Version=1.0
Name=Zimbra
Comment=Launch Zimbra in Chromium
Exec=launch-webapp https://mx.zsuite.at/
Terminal=false
Type=Application
Categories=Network;Productivity;
StartupWMClass=zimbra
