[Interface]
Address = 10.0.0.2/24
PrivateKey = {{ .Env.DESKTOP_PRIVATE_KEY }}

[Peer]
PublicKey = hqzQSrDEErtR0zxtX31GWRSl37qijLv8pvIH0RTJbGw=
Endpoint = 80.240.23.145:51820
AllowedIPs = 10.0.0.1/32
PersistentKeepalive = 25


