memex.samho.xyz, samuel.hobl.at {
  handle_path /site-assets* {
    root * {$SQUARE_PATH}/aspects/memex/assets
    try_files {path} {path}
    file_server
  }

  handle_path /decks* {
    root * {$SQUARE_PATH}/data/share/memex/decks
    file_server browse
  }

  handle_path / {
    rewrite * /personal-website
  }

  reverse_proxy localhost:8088
}

www.hobl.at, hobl.at {
    redir https://samuel.hobl.at
}

